.App {
  text-align: center;
  margin-top: 2vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  text-align: left !important;
}

.progress-bar {
  width: 80vmin;
  height: 2vmin;
  border-radius: 2vmin;
  margin-top: 3vmin;
  border: 0.2vmin solid #ccc;

}

.progress {
  height: 100%;
  background-color: #4CAF50;
  transition: width 0.3s;
}

.characters {
  display: flex;
  margin-left: 5vmin;
  margin-right: 5vmin;
  justify-content: space-around;
}